<div class="header">
    <div>
        <img src="assets/logo.png">
    </div>
    <div class="auth">
        <button routerLink="/accueil" class="btn btn-primary" routerLinkActive="active">connexion</button>
        <button routerLink="/accueil" class="btn btn-primary" routerLinkActive="active">inscription</button>
    </div>
</div>



<div class="menu">
    <button routerLink="/accueil" class="btn btn-primary" routerLinkActive="active">accueil</button>
    <button routerLink="/ajouterService" class="btn btn-primary" routerLinkActive="active">ajouter un service</button>
    <button routerLink="/demanderService" class="btn btn-primary">demader un service</button>
    <button routerLink="/servicesDisponibles" class="btn btn-primary">services disponibles</button>
    <button routerLink="/servicesDemander" class="btn btn-primary"> services demandés</button>

</div>