.header{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    height: 100px;
    margin-top: 20px;
    margin-left: 200px;
}

.menu{
    margin-top:50px;

}
.auth{
    margin-top: 50px;
    margin-left:-20px;
}
img{
    height: 40px;
    margin-top: 50px;
}
.menu button {
    border-radius: 0 !important;

}
.header button {
    background-color: #000;
}
.btn{
    color: white;
}
.connect{
    color: blue;
}