.header{
    display: flex;
    justify-content: space-between;
    background-color: #000
}

.menu{
    width: 100%;

}

.menu button {
    border-radius: 0 !important;

}
.header button {
    background-color: #000;
}