<div class="header">
    <div>
        <a routerLink="/accueil">
            <img src="assets/logo.png" >
        </a>
        
    </div>
    <div class="menu col-lg-8">
        <!--button routerLink="/accueil" class="btn" routerLinkActive="active">accueil</button-->
        <button routerLink="/ajouterService" class="btn" routerLinkActive="active">Ajouter un service</button>
        <button routerLink="/demanderService" class="btn ">Demander un service</button>
        <button routerLink="/servicesDisponibles" class="btn ">Services disponibles</button>
        <button routerLink="/servicesDemander" class="btn">Services demandes</button>
    </div>
    <div class="auth col-lg-3">
        <button routerLink="/conexion" class="btn connect" routerLinkActive="active">connexion</button>
    </div>
</div>
